<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hawlandshut.studienprojekt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".I1_Bewertung" />
        <activity android:name=".H1_TerminAnzeigen" />
        <activity android:name=".GG5_PasswortZusenden" />
        <activity android:name=".G42_TerminLoeschen" />
        <activity android:name=".G41_TerminBlocken" />
        <activity android:name=".G40_TerminkalenderSalon" />
        <activity android:name=".G33_BilderHinzufuegen" />
        <activity android:name=".G32_Bilderentfernung" />
        <activity android:name=".G31_Bilderbearbeitung" />
        <activity android:name=".G30_Bilderverwaltung" />
        <activity android:name=".G23_AngebotHinzufuegen" />
        <activity android:name=".G22_Angebotsentfernung" />
        <activity android:name=".G21_Angebotsbearbeitung" />
        <activity android:name=".G20_Angebotsverwaltung" />
        <activity android:name=".G13_MitarbeiterHinzufuegen" />
        <activity android:name=".G12_Mitarbeiterentfernung" />
        <activity android:name=".G11_Mitarbeiterbearbeitung" />
        <activity android:name=".G10_Mitarbeiterverwaltung" />
        <activity android:name=".F1_Profil" />
        <activity android:name=".E1_KontoErstellen" />
        <activity android:name=".D1_Login" />
        <activity android:name=".C93_Terminbestaetigung" />
        <activity android:name=".C92_Zahlungsmethode" />
        <activity android:name=".C91_Kontaktdaten" />
        <activity android:name=".C90_Terminkalender" />
        <activity android:name=".C8_ListeMitarbeiter" />
        <activity android:name=".C7_Angebote" />
        <activity android:name=".C6_Geschaefte" />
        <activity android:name=".C5_Wohnort" />
        <activity android:name=".C4_Wellness" />
        <activity android:name=".C3_Herren" />
        <activity android:name=".C2_Damen" />
        <activity android:name=".C1_Kategorieauswahl" />
        <activity android:name=".B1_KundeSalon" />
        <activity android:name=".A1_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>